/*
*****************************************************************
            MARGIN AND PADDING RESETS, BOX-SIZING
*****************************************************************
*/
*, *::after, *::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
*****************************************************************
                            COLORS
*****************************************************************
*/
:root
{
    /*PRIMARY*/
    --tomato: hsl(4, 100%, 67%);

    /*NEUTRAL*/
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

/*
*****************************************************************
                    MOBILE FIRST LAYOUT
*****************************************************************
*/

/*Images Styles*/

.mobile-image
{
    width: 100%;
}

.desktop-image
{
    width: 100%;
    display: none;
}