/*
*****************************************************************
            MARGIN AND PADDING RESETS, BOX-SIZING
*****************************************************************
*/
*, *::after, *::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
*****************************************************************
                            COLORS
*****************************************************************
*/
:root
{
    /*PRIMARY*/
    --tomato: hsl(4, 100%, 67%);

    /*NEUTRAL*/
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

/*
*****************************************************************
                        IMAGES BASE STYLE
*****************************************************************
*/

.mobile-image
{
    width: 100%;
    display: block;
}

.desktop-image
{
    width: 100%;
    display: none;
}

/*
*****************************************************************
                    TYPOGRAPHY MARGINS AND PADDING
*****************************************************************
*/

.text-and-body-container h1
{
    font-size: clamp(1.9rem, 4vh, 3rem);
}

.text-and-body-container p
{
    font-size: clamp(0.96rem , 2vh , 1.4rem);
    line-height: 1.4;
}

.text-and-body-container ul li
{
    font-size: clamp(0.96rem , 2vh , 1.4rem);
    line-height: 1.4;
}

.email-input
{
    font-size: clamp(0.9rem , 2vh , 1.2rem);
    font-family: Roboto, sans-serif;
}

.submit-button
{
    font-size: clamp(0.9rem , 2vh , 1.2rem);
    font-family: Roboto, sans-serif;
    font-weight: 700;
}

.email
{
    font-size: clamp(0.9rem , 2vh , 1.2rem);
}

.email-error-message
{
    font-size: clamp(0.9rem , 2vh , 1.2rem); 
}

/*
*****************************************************************
                        MOBILE FIRST DESIGN
*****************************************************************
*/

body
{
    background-color: var(--Charcoal-Grey);
    font-family: Roboto, sans-serif;

    color: var(--Dark-Slate-Grey);
}

.main-content
{
    background-color: var(--White);
    height: 100vh;
    max-width: 500px;

    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.text-and-body-container
{
    display: grid;
    align-content: space-evenly;

    padding: 0 1.5em;
}

.form
{
    display: flex;
    flex-direction: column;
    gap: 0.9em;
}

.spans-container
{
    display: flex;
    justify-content: space-between;
}

.email-input
{
    padding: 0.9em;
    border: 1px solid var(--Grey);
    border-radius: 6px;
}

.submit-button
{
    padding: 0.9em;
    border: none;
    border-radius: 6px;
    background-color: var(--Dark-Slate-Grey);

    color: var(--White);
}

/*
*****************************************************************
                    MARKERS DESIGN AND LI ELEMENTS
*****************************************************************
*/

.text-and-body-container ul li
{
    background: url(../assets/images/icon-list.svg);
    background-repeat: no-repeat;
    list-style: none;

    padding-left: 2em;
    padding-bottom: 0.3em;
}

.success-message
{
    display: none;
}