/*
*****************************************************************
            MARGIN AND PADDING RESETS, BOX-SIZING
*****************************************************************
*/
*, *::after, *::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
*****************************************************************
                            COLORS
*****************************************************************
*/
:root
{
    /*PRIMARY*/
    --tomato: hsl(4, 100%, 67%);

    /*NEUTRAL*/
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

/*
*****************************************************************
                        IMAGES STYLINGS
*****************************************************************
*/

.desktop-image
{
    width: 100%;
    display: none;
}

.mobile-image
{
    display: block;
    width: 100%;
}

/*
*****************************************************************
                            FONT SIZES
*****************************************************************
*/

.text-and-form-container h1
{
    font-size: 2.4rem;
}

.text-and-form-container p
{
    font-size: 1rem;
}

.text-and-form-container ul li
{
    font-size: 1rem;
}

.email-label
{
    font-size: 0.8rem;
}

.email-error-message
{
    font-size: 1rem;
}

.submit-button
{
    font-size: 1rem;
}

/*
*****************************************************************
                        MOBILE FIRST LAYOUT
*****************************************************************
*/

body
{
    font-family: Roboto, sans-serif;
    line-height: 1.4rem;
}

.main-content
{
    height: 100vh;
    margin: 0 auto;
    max-width: 400px;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.text-and-form-container
{
    padding: 2em 2em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

/*
*****************************************************************
                FORMS AND TEXT CONTAINER STYLES
*****************************************************************
*/

.text-and-form-container h1
{
    color: var(--Dark-Slate-Grey);
}

.text-and-form-container p
{
    color: var(--Dark-Slate-Grey);
}

.text-and-form-container ul li
{
    display: flex;
    align-items: start;
    justify-content: start;

    margin-bottom: 0.5rem;

    color: var(--Dark-Slate-Grey);
}

.text-and-form-container ul li::before
{
    content: "";
    background-image: url(../assets/images/icon-list.svg);
    width: 21px;
    height: 21px;

    margin-right: 0.8rem;
}

#form
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-areas
{
    margin-bottom: 1rem;
}

.validation-and-email-text-container
{
    display:flex;
    justify-content: space-between;
}

.email-error-message
{
    display: none;
    color: var(--Dark-Slate-Grey);
}

.email-label
{
    color: var(--Charcoal-Grey);
}

.email-input
{
    display: block;
    width: 100%;

    padding: 1em;

    border: var(--Grey) solid 1px;
    border-radius: 6px;

    font-family: Roboto;
}

.submit-button
{
    padding: 1em;
    
    border: none;
    border-radius: 6px;
    background-color: var(--Dark-Slate-Grey);

    font-weight: 500;
    color: white;   

    font-family: Roboto;
}

.success-message
{
    display: none;
}